* {
  margin: 0;
  padding: 0;
}

.Card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.Card div {
  width: 25rem;
  background-color: rgba(0, 0, 0, .9);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

h2 {
  font-family: 'Amatic SC', cursive;
  color: #fff;
  font-size: xx-large;
  text-align: left;
}

img {
  width: 100%;
  border-radius: 1rem;
}

p {
  color: rgb(255, 255, 255);
}
